<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter:wght@400;700&family=Karla:wght@700&family=Lato:ital@0;1&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&family=Nunito:ital,wght@0,400;0,700;0,800;1,400&family=Open+Sans:wght@400;600&family=Raleway:wght@400;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Task-Manager</title>
  </head>
  <body>
    <h1 class="title">Регистрация</h1>
    <form id="app-login-form-reg" class="d-flex-column">
      <input
        class="form-control me-2"
        name="login"
        autocomplete="username"
        type="text"
        placeholder="Login"
        aria-label="Login"
        required
      />
      <input
        class="form-control me-2"
        name="password"
        autocomplete="current-password"
        type="password"
        placeholder="Password"
        aria-label="Password"
        required
      />
      <button id="app-login-btn-reg" class="btn btn-outline-info" type="submit">
        Sign Up
      </button>
    </form>
  </body>
</html>
